<ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../assets/widescreen1.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Learn to cook</h3>
        <p>Everyone needs to know how to cook</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-02.jpg"  alt="Random second slide">
      <div class="carousel-caption">
        <h3>Learn to cook</h3>
        <p>Everyone needs to know how to cook</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-02.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  