<app-logoarea></app-logoarea>
<div class="container-fluid">
<div class="row" id="homePageHeading">
    <div class="col-sm-8">

    </div>
    <div class="col-sm-4">
<h1 class="heading">What are you<br/> in the mood <br/>for?</h1>
</div>
</div>

<div class="row"  id="choosingType">
    <div class="col-sm-3" (click)="goToFoodItemPage('nonveg')">
    <mat-card class="card" id="non-veg" >
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="card" id="veg" (click)="goToFoodItemPage('veg')">
        </mat-card>
      </div>
        <div class="col-sm-3">
        <mat-card class="card" id="sweet" (click)="goToFoodItemPage('sweet')">
          </mat-card>
        </div>
        <div class="col-sm-3">
          <mat-card class="card" (click)="goToFoodItemPage('simple')">
            <h1>Sooooper simple Soooper FAST</h1>
            </mat-card>
          </div>
  </div>
 
</div>