<div class="logoArea" [style.background-color]="getStyle()">
    <div class = "container">
      <div class="row">
      <div class="col-sm-8">
  <img [routerLink]="['/home']"  src = "{{iconUrl+'main_logo.png'}}">
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
  </div>
  </div>
  </div>
  
  
    
  <div class="container-fluid"> 
  
  <div class="row" id="recipeHeader" [style.background-color]="getStyle()">
      <!--<div class="col-sm-4">
  
      </div>-->
      <div class="col-sm-12">
  <h1 class="heading">{{recipes? recipes.title : ''}}</h1>
  </div>
  <!--<div class="col-sm-2">
    </div>-->
  </div>
  
  <div class="row content">
      <div class="col-sm-1">
        </div>
        <div class="col-sm-9" *ngIf="recipes">
            <h2 class = "sectionHeading" [style.color]="getStyle()">THINGS YOU WILL NEED</h2>
              
          <app-item-list 
          [itemList]="recipes.items"></app-item-list>


      </div>
      <div class="col-sm-2"></div>
      </div>
        <div class="row content"  *ngIf="recipes">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-9">
              <h2 class = "sectionHeading" [style.color]="getStyle()">METHOD</h2> 
              <div >  
              <app-steps-list [stepsList]="recipes.steps" [foodType]="foodType"></app-steps-list>
                </div>
          </div>

          <div class="col-sm-2">
          </div>
  
  </div>
  <div class="row err-text" *ngIf="recipes == null">
      <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
      <h1 [style.color]="getStyle()">Recipe not found</h1>
      </div>
    </div>
