
<ol class="rounded-list">
    <li>
      <section></section>
      <div class = "jumbotron">content 1 <br/><br/>
        <img src = "../../assets/recipe/sugar.jpg"  />
      </div>
    </li>
    <li>
        <section></section>
        <div class = "jumbotron">content 1 <br/><br/>
          <img src = "../../assets/recipe/sugar.jpg" />
        </div>
    </li>
    <li>
        <section></section>
        <div class = "jumbotron">content 1 <br/><br/>
          <img src = "../../assets/recipe/sugar.jpg" />
        </div>
    </li>
                    
</ol>
